*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.stage{
  height: 350px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
.p{
  font-size: 35px;
  text-align: center;
  margin-top: 0;
  cursor: pointer;
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  font-family: Century Gothic;
  letter-spacing: 5px;
}
.div{
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  margin-top: 4%;
 transition-duration: 0.2s;

}


.p:hover{
  background: white;
  color: black;
}
.div:nth-child(odd){
  transform: perspective(300px) rotateY(45deg);
  box-shadow: -2px 2px 7px gray;
}
.div:nth-child(even){
  transform: perspective(300px) rotateY(-45deg);
    box-shadow: 2px 2px 7px gray;
}
.div:hover{
  transform: rotateY(0);
  background: white;
  color: black;
  box-shadow: 0px 0px 0px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#wrap {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
#wrap > div {
  position: fixed;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: .5s;
  filter: blur(20px);
  transform: scale(.5);
}

#wrap > div.active {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
  filter: blur(0);
  transform: scale(1);
}

#wrap > #gameplay {
  opacity: 1;
  z-index: 0;
  transform: scale(1);
  filter: blur(0);
}

#wrap > div.active ~ #gameplay {
  opacity: .75;
  filter: blur(10px);
  transform: scale(.95);
}

button {
  background-color: white;
  border: 0;
  border-radius: 200px;
  padding: 10px 24px;
  font-weight: bold;
  letter-spacing: 1.25px;
  font-size: 16px;
  margin: 16px;
  min-width: 160px;
  outline: none;
  transition: .25s;
  opacity: .75;
  cursor: pointer;
}

button:hover {
  opacity: 10;
}

h1 {
  color: white;
  letter-spacing: 2px;
  font-size: 48px;
  margin-top: 0;
}



.center p {
  margin-left:auto;
  margin-right:auto;  
  position: relative;
  color: white;
  line-height: 3;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

div.background{
  margin: auto;
  position: relative;
  width: 100%;
  height: 100%;
  border: 0.2px solid black;
}

.center {
  margin-left: auto;
  margin-right: auto;
}